[Unit]
Description=NextSimStatus Nodes Reporter
After=syslog.target network.target slurmctld.service
ConditionFileIsExecutable=/opt/nextsimstatus/nextsim-daemon.sh

[Service]
ExecStart=/opt/nextsimstatus/nextsim-daemon.sh nodes /etc/nextsimstatus.json

Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target

