[Unit]
Description=MainSimStatus Nodes Reporter
After=syslog.target network.target slurmctld.service
ConditionFileIsExecutable=/opt/mainsimstatus/daemons/mainsim/mainsim-daemon.sh

[Service]
ExecStart=/opt/mainsimstatus/daemons/mainsim/mainsim-daemon.sh nodes /opt/mainsimstatus/secrets.json

Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target

